body {
  background-image: url("prism/prism/prism.png");
  min-height: 100vh;
}

h1 {
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'Courgette', cursive !important;
}

main {
  widows: 100vw;
  text-align: center;
  padding: 3%;
}

.result {
  padding: 3%;
}

.uk-search {
  background-color: white;
}

.uk-search-icon-flip {
  color: #999999 !important;
}
