html {
  background-image: url("prism/prism/prism.png");
}

h1 {
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'Patrick Hand', cursive !important;
  font-size: 3.3em;
}

main {
  text-align: center;
  padding: 3% 3% 0 3%;
}

#result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3%;
}
#result > * {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  margin-top: 3%;
}

.uk-search {
  background-color: white;
}

.uk-search-icon-flip {
  color: #999999 !important;
}

@media only screen and (max-width: 700px) {
  #result > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
